body{
	background-color: #d59a40;
}

/*--------- Logo -----------*/
.my-logo img{
	width: 100px;
	position: absolute;
	left: 45%;
	margin-top: 20px;
}

/*--------- Redes Sociais -----------*/
.my-redes-sociais{
	float: right;
}

.my-redes-sociais img{
	width: 35px;
	border-radius: 100px;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: -50px;
}

/*--------- Slide - Carousel -----------*/
.my-slide{
	width: 100%;
	height: 380px;
	z-index: -1;
	margin-top: 180px;
}

/*--------- Menu -----------*/
.my-menu{
	position: absolute;
	z-index: 2;
	margin: -400px;
	left: 48%;
}

.my-menu ul li{
	background-color: #ddd;
	float: left;
	font-size: 25px;
	color: #fff;
	margin-left: 2px;
}

.my-menu ul li a{
	color: red;
	padding: 20px 40px;
}

.my-menu ul li a:hover{
	background-color: red;
	color: #fff;
}

/*--------- Corpo - Section -----------*/
.my-novidades {
	margin-top: 25px;
	margin-bottom: 20px;
}

.my-novidades img {
	width: 155px;
	height: 155px;
	border-radius: 100px;
}

.my-novidades a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-novidades span {
	color: red;
}

.my-novidades p {
	color: #fff;
	text-align: justify;
}

.my-novidades-corpo {
	margin-top: 20px;
}

.my-pratos-principais-index {
	background-color: #ddd;
	width: 100%;
	height: 480px;
	margin: 0;
}

.my-pratos-principais {
	background-color: #ddd;
	width: 100%;
	margin: 0;
}

.my-pratos-principais a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-link {
	margin-top: 30px;
}

.my-pratos-blocos {
	margin: auto;
	margin-top: 30px;
}

.my-bloco {
	background-color: #daaa56;
	width: 205px;
	text-align: center;
}

.my-bloco img {
	width: 205px;
}

.my-bloco span {
	color: brown;
}

.my-bloco p {
	margin-top: 15px;
	margin-bottom: 60px;
}

.my-mais{
	width: 60px;
	height: 60px;
	background-color: red;
	border-radius: 100px;
	position: absolute;
}

.my-pratos-blocos .my-mais {
	margin-top: -29px;
	margin-left: 70px;
}

.my-mais span{
	color: #fff;
	font-size: 14px;
	position: relative;
	top: 30%;
}

/* --------- FOOTER ---------- */
.my-comentarios {
	margin-top: 25px;
}

.my-comentarios a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-comentarios img {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin-top: 30px;
}

.my-comentarios p {
	text-align: justify;
	margin-top: 50px;
}

.my-coment {
	margin-left: 60px;
	margin-bottom: 50px;
}

.address {
	background-color: #363636;
	width: 100%;
	height: 130px;
}

.footer address {
	color: #fff;
	text-align: center;
}

.address {
	padding-top: 60px;
}

.my-footer-redes-sociais {
	float: right;
}

.my-footer-redes-sociais img{
	width: 35px;
	border-radius: 100px;
	margin-top: -130px;
	margin-left: 5px;
}

/* ************** PAGINA SOBRE ************** */
/* ************** PAGINA SOBRE ************** */

.my-section-sobre h3 {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.my-section-sobre p {
	text-align: justify;
	margin-bottom: 20px;
}

.my-section-sobre img {
	width: 100%;
	height: 380px;
	margin-top: 20px;
}

/* ************** PAGINA CARDAPIO ************** */
/* ************** PAGINA CARDAPIO ************** */

.article-cardapio{
	margin-bottom: 50px;
	margin-left: 40px;
}

.article-cardapio-fim{
	margin-bottom: 20px;
	margin-left: 40px;
}

.my-cardapio-titulo{
	font-size: 28px;
	margin-top: -30px;
	margin-bottom: 30px;
}

.my-cardapio{
	float: left;
    width: 205px;
}

.my-cardapio h2{
	color: #000;
	text-align: center;
	font-size: 20px;
}

.my-cardapio img{
    height: 150px;
}

.my-cardapio p{
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

/* ************** PAGINA CONTATO ************** */
/* ************** PAGINA CONTATO ************** */
.my-contato-form form{
	width: 480px;
	margin: 5px auto;
	padding: 10px;
	border-radius: 3px;
}

.my-contato-form form label{
	font-size: 24px;
	display: block;
	padding: 5px 0 2px 0;
}

.my-contato-form form textarea{
	width: 470px;
	border-radius: 6px;
}

.my-contato-form form input{
	width: 460px; 
	padding: 5px;
	border-radius: 6px;
}

.my-contato-form form input.botao{
	width:235px;
	background-color: #d59a40;
	color: #fff;
}