body{
	background-color: #d59a40;
}

/*--------- Logo -----------*/
.my-logo img{
	width: 100px;
	position: absolute;
	left: 45%;
	margin-top: 20px;
}

/*--------- Redes Sociais -----------*/
.my-redes-sociais{
	float: right;
}

.my-redes-sociais img{
	width: 35px;
	border-radius: 100px;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: -50px;
}

/*--------- Slide - Carousel -----------*/
.my-slide{
	width: 100%;
	height: 380px;
	z-index: -1;
	margin-top: 180px;
}

/*--------- Menu -----------*/
.my-menu{
	position: absolute;
	z-index: 2;
	margin: -400px;
	left: 48%;
}

.my-menu ul li{
	background-color: #ddd;
	float: left;
	font-size: 25px;
	color: #fff;
	margin-left: 2px;
}

.my-menu ul li a{
	color: red;
	padding: 20px 40px;
}

.my-menu ul li a:hover{
	background-color: red;
	color: #fff;
}

/*--------- Corpo - Section -----------*/
.my-novidades {
	margin-top: 25px;
	margin-bottom: 20px;
}

.my-novidades img {
	width: 155px;
	height: 155px;
	border-radius: 100px;
}

.my-novidades a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-novidades span {
	color: red;
}

.my-novidades p {
	color: #fff;
	text-align: justify;
}

.my-novidades-corpo {
	margin-top: 20px;
}

.my-pratos-principais {
	background-color: #ddd;
	width: 100%;
	height: 480px;
	margin: 0;
}

.my-pratos-principais a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-link {
	margin-top: 30px;
}

.my-pratos-blocos {
	margin: auto;
	margin-top: 30px;
}

.my-bloco {
	background-color: #daaa56;
	width: 205px;
	text-align: center;
}

.my-bloco img {
	width: 205px;
}

.my-bloco span {
	color: brown;
}

.my-bloco p {
	margin-top: 15px;
	margin-bottom: 60px;
}

.my-mais{
	width: 60px;
	height: 60px;
	background-color: red;
	border-radius: 100px;
	position: absolute;
}

.my-pratos-blocos .my-mais {
	margin-top: -29px;
	margin-left: 70px;
}

.my-mais span{
	color: #fff;
	font-size: 14px;
	position: relative;
	top: 30%;
}

/* --------- FOOTER ---------- */
.my-comentarios {
	margin-top: 25px;
}

.my-comentarios a {
	color: red;
	text-decoration: underline;
	font-size: 20px;
}

.my-comentarios img {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin-top: 30px;
}

.my-comentarios p {
	text-align: justify;
	margin-top: 50px;
}

.my-coment {
	margin-left: 60px;
	margin-bottom: 50px;
}

.footer {
	background-color: #363636;
	width: 100%;
	height: 200px;
}

.footer address {
	color: #fff;
	text-align: center;
}